@charset "utf-8";
/*body{text-align:center;}*/
@font-face {
    font-family: 'Metrophobic';
    src: url('../fonts/Metrophobic/Metrophobic.eot');
    /*src: local('☺'), url('../fonts/Metrophobic/Metrophobic.woff') format('woff'), url('../fonts/Metrophobic/Metrophobic.ttf') format('truetype'), url('../fonts/Metrophobic/Metrophobic.svg') format('svg');*/
    src: url('../fonts/Metrophobic/Metrophobic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Metrophobic/Metrophobic.woff') format('woff'),
         url('../fonts/Metrophobic/Metrophobic.ttf') format('truetype'),
         url('../fonts/Metrophobic/Metrophobic.svg#VAGRoundRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}
body {
    color: #222222;
    font-family: "Metrophobic","Helvetica Neue",Arial,Helvetica,sans-serif;
    font-size: 80%;
}
.img_home{
    background:url("../img/home_sismo.jpg") no-repeat 0 0;
    position: relative;
    min-height: 152px;
    overflow: hidden;
}
.cabecera, .main-title{ background-image:url("../img/001c.jpg");background-repeat:repeat-x; background-position: 0 -123px;}
.main-title {background-position: 0 -170px; }
.main-title h1 {margin-top: 0.5em;}
.cabecera1{height:120px; background-image:url("../img/001c.jpg");background-repeat:repeat-x;}

.contenedor-pie {
    background-image: url("../img/007.jpg");
    background-repeat: repeat-x;
    border-radius: 0 0 0 0;
    color: #FFFFFF;
    text-align: center;
}
.txt-blanco-16{
    color:#FFFFFF; font-size:16px; font-weight:bold; text-align:left; padding-left:10px;
}

.caja-login {
    background-color: #FFFFFF; border: 1px solid #BBBBBB; width: 90px;
}

.banner-left {
    text-align: left; padding-left: 10px;
}

.banner-right {
    text-align: right; padding-right: 10px;
}
body .tabactive {
    background: #F0F0F0;
    border: solid 1px #C8C8C8;
    border-bottom: 1px solid #F0F0F0;
    box-shadow: 0 0 0 0px, 0 -8px 3px 0px, 0 0;
    }
body .tabactive a{
    color:#BD852D;
}

.txt-verde {
    color: green;
    font-size: 0.82em;
    font-weight: normal;
}
#formLogin .add-on
{
    background: url("../img/glyphicons.png") no-repeat;
    width: 30px;
    }
#formLogin .label-id{
    background-position: -186px -95px;
    }
#formLogin .label-pw
{
    background-position: -135px -958.5px;
}
.div-login-main{
    padding-top: 10px;
    background-color: #EEEEEE;
    text-align: right;
    padding: 6px 0;
    border-bottom: 1px solid #BBBBBB;
}

.div-login-main div {
    margin-right: 15px;
}
.container .popover-content{
    color:#000;
    background: #f6f6f6 url(./ui-lightness/images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;


}

.container .popover-title{

     background-image: url("../img/007.jpg");
     background-repeat: repeat-x;
     color:#fff;

}

.container .emailigp {
    color: #BD852D;
    font-weight: bold;
    text-shadow: 0 0 0, 0 0 0, 0 0 0.05px #BD852D;
}
.action-btn{
    margin: 10px 0;
}

.divnone {
    display: none;}

.divblock {
    display: block;}

.fleft {
    float: left;
}
.fright {
    float: right;
}
#msj_query_type
{
    font-size: .9em;
    margin-bottom: 1.875em;
    line-height: 1.875em;
    color: #bd852d;
    }
.list_block{
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.15);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: block;
    line-height: 20px;
    margin: 0 0 10px;
    padding: 9.5px;
    word-break: break-all;
    word-wrap: break-word;
}

.list_block_0{
    padding-left: 12px;
}
.list_number{
    font-style: italic;
    font-weight: bold;
    margin-left: -45px;
    position: absolute;
    background: rgb(213, 207, 207);
    color: #423F3F;
    line-height: 10px;
    padding: 5px 7px;
    border-radius: 7px 0 0 7px;
    width: 27px;
    margin-top: 0px;
    border: 1px solid rgb(201, 194, 194);
    box-shadow: 0 0 1px rgb(201, 194, 194);
}
.cblanco{
    color:#fff;
}
.fcenter{
    text-align: center;

}
/*bootstrap de twitter*/
.container .navbar {
    margin-bottom: 0;
}
.container .navbar-inverse .btn-navbar,
.container .navbar-inverse .nav-collapse .nav>li>a:hover{
    background: #4E4D4C; /* #333231*/
}
.container .navbar-inverse .nav-collapse .nav>li>a:hover{
    color:#fff;
}
.navbar .caret{
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}
.i-error{
    background-position: -326px -958.5px;
}
.hide {
    display:none;
}

.showdiv.txt-azul{
    padding: 2px 3px;
    cursor: pointer;
}
.showdiv.txt-azul:hover, .showdiv.divactive {
    background: #E6E1E1;
}
/*----------themas*/

#nuevo_tema_publicacion{
    border: 1px solid rgb(235, 232, 232);
    padding: 4px 16px;
    position:relative;
}

#newTheme .input-error {
    border-color: #B94A48;
}
.msj{
    border: 1px solid;
    margin: 10px 0px;
    padding: 15px 13px 15px 27px;
    position: relative;
}
.exito {
    color: #4F8A10;
    background-color: #DFF2BF;
}
#msj-theme{
    display: inline-block;
    position: absolute;
    left:0;
}
@media (max-width: 480px){
    #imghome img {
        width: 300px;
    }
    #header .span2{
        display:none;
    }
    .main-title h1 {
        font-size:2em;
    }
}

@media screen and (max-width: 240px){
    #imghome img {
        width: 180px;
    }
    .main-title h1 {
        font-size:1.5em;
    }

}
@media screen and (max-width: 320px){
    #imghome img {
        width: 250px;
    }
    #searchCat .searchSelect{
        margin: 0 0 4%;
    }
    #div_tituloSearch, .caja-buscador-1{
        width: 100%;
    }
     .divDetails{
        padding: 2em 0.3em 1em !important;
    }
}
@media screen and (max-width: 450px){
    #imghome img {
        width: 250px;
    }
    #searchCat .searchSelect{
        margin: 0 0 4%;
    }
    .block_2  {
        width: 27%;
    }
}
/*mayor 450px */
@media screen and (min-width: 450px){
    .block_2  {
        width: 140px;
    }
}
@media screen and (min-width: 450px) and (max-width: 640px) {


}
/*menor a 640px*/
@media screen and (max-width: 640px){
    .divDetails{
        margin: 1.5em 0 ;
    }
}

@media screen and (min-width: 640px)  and (max-width:800px){

    .divDetails{
        margin: 1.5em 1em ;
        width: 95%;
    }
}
@media screen and (min-width: 800px) and (max-width:960px ){
    .divDetails{
        margin: 1.5em 1em;
        width: 90%;
    }
}
@media screen and (min-width: 960px) {
    .block_1{
        margin: 0 13%;
    }
    .divDetails{
        margin: 2em auto;
        width: 70%;
    }
}


    /*view search */
    #searchCat .searchSelect {
        margin: 0 22% 4% 22%;
    }

#formLogin .btn:hover
{
    background: #333231;
    color: #fff;
    text-shadow: none;
}
.color_red {
    color: #C85305;
}
.none {
    display: none;
}
a .inline, .inline{
    display: inline-block;
}
.label_1 {
    background: rgb(231, 222, 222);
    padding: 4px 5px;
    margin: 0 -3px 0 10px;
    color: #3a87ad;
}
span.label{
    padding: 5px;
}


/*.searchSelect li {
    float: left;
}*/
.divDetails{
    -webkit-border-radius: .4em;
    -moz-border-radius: .4em;
    border-radius: .4em;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: solid 1px #eee;
    border-bottom: solid 5px #4E3C1F;
    display: table;
    -moz-box-shadow: -1px 1px 5px rgba(0,0,0,0.09999999999999998);
    transition: border 1s ease-out;
    -moz-transition: border 1s ease-out;
    -webkit-transition: border 1s ease-out;
    -o-transition: border 1s ease-out;
    padding: 2em 2em 1em;
    position: relative;
    text-rendering: optimizeLegibility;
    position: relative;
}
.divDetails #type {
    background: #ccc;
    height: 20px;
    overflow: hidden;
    position: absolute;
    padding: 5px 15px;
    top: -23px;

}
.divDetails  .d-conte {
    display: table-row;
}
.divDetails .cell{
    display: table-cell;
    vertical-align: middle;
}
.divDetails #d-info{
    width: 70%;
    font-size: 14px;
}
.divDetails #d-img{
    width: 30%;
}

.searchSelect li a{
    background: #BD852D;
    background: -moz-linear-gradient(top,#BD852D 0%,#CA851B 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#BD852D),color-stop(100%,#CA851B));
    background: -webkit-linear-gradient(top,#BD852D 0%,#CA851B 100%);
    background: -o-linear-gradient(top,#BD852D 0%,#CA851B 100%);
    background: -ms-linear-gradient(top,#BD852D 0%,#CA851B 100%);
    background: linear-gradient(to bottom,#BD852D 0%,#CA851B 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#BD852D',endColorstr='#CA851B',GradientType=0 );
    -webkit-box-shadow: inset 1px 1px 0 #D88D19,1px 0 3px rgba(0,0,0,0.29);
    -moz-box-shadow: inset 1px 1px 0 #D88D19,1px 0 3px rgba(0,0,0,0.29);
    -ms-box-shadow: inset 1px 1px 0 #D88D19,1px 0 3px rgba(0,0,0,0.29);
    -o-box-shadow: inset 1px 1px 0 #D88D19,1px 0 3px rgba(0,0,0,0.29);
    box-shadow: inset 1px 1px 0 #D88D19,1px 0 3px rgba(0,0,0,0.29);
    padding: 10px 16px;
    font-size: 1.4em;
    line-height: 1.5em;
    color: #fff;
    text-align: center;
    margin: 5px 15px;
    /*display: inline-block;*/s
}
.searchSelect li a:hover{
    background: #53524d;
    background: -moz-linear-gradient(top,#53524d 0%,#62615d 100%);
    background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#53524d),color-stop(100%,#62615d));
    background: -webkit-linear-gradient(top,#53524d 0%,#62615d 100%);
    background: -o-linear-gradient(top,#53524d 0%,#62615d 100%);
    background: -ms-linear-gradient(top,#53524d 0%,#62615d 100%);
    background: linear-gradient(to bottom,#53524d 0%,#62615d 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#53524d',endColorstr='#62615d',GradientType=0 );
    -webkit-box-shadow: inset 1px 1px 0 #585752,1px 0 3px rgba(0,0,0,0.28);
    -moz-box-shadow: inset 1px 1px 0 #585752,1px 0 3px rgba(0,0,0,0.28);
    -ms-box-shadow: inset 1px 1px 0 #585752,1px 0 3px rgba(0,0,0,0.28);
    -o-box-shadow: inset 1px 1px 0 #585752,1px 0 3px rgba(0,0,0,0.28);
    box-shadow: inset 1px 1px 0 #585752,1px 0 3px rgba(0,0,0,0.28);
}
.searchSelect li a#b_otros {
    margin: 0 20%;
}
.center{
    text-align: center;
}
.len1{
    width: 13%;
}
.block_1{
    padding: 10px 5px;
    background: #EEEEEE;
    border: 1px solid rgba(0, 0, 0, 0.08);
    border-radius: 4px;
}
.block_2{
    display: inline-block;
    /*min-height: 22px;*/
    float: left;
    margin: 0;
    line-height: 20px;
}

select[name="b_navigation"]{
    padding: 4px 2px;
}
.uppercase{
    text-transform: uppercase;
}
/*#author_section .ui-buttonset .ui-button{
    margin-left: 2px;
    margin-right: 1px;
    padding: 0px 5px;
}*/
.abs_01{
    position: absolute;
    right: 12px;
    bottom: 2em;
    }
.abs_01.abs_02{
    right: 80px;
}
#themes_bib {
    margin-bottom: 2px;
    position: relative;
}
#theme_bib td{
    position: relative;
}
.table .del_tr{
    background: rgb(235, 236, 238);
    border: 1px solid #ddd;
    border-right: 0;
    left: -14px;
    position: absolute;
    }
#edit_files .modal{
    width: auto;
}
.accordion-heading .accordion-toggle{
    background: rgb(228, 226, 226);
}
.bold{
    font-weight: bold !important;
}
.textarea.focus  {
    height: 90px;
    color: #393939;
    cursor: auto;
    }
.textarea{
    height: 35px;
}
#author_inst #author_section_int_02, #author #author_section_int{
    width: 54%;
    float: left;
}
.cols1{
    width: 80%;
    display: inline-block;
    margin: 0 10px;
}
.author_select{
    float: left;
    margin: 10% 13px 1%;
    width: 43%;
}
#author_inst, #author {
    position: relative;
    overflow: hidden;
}
select[name*='listtable']{
    width: 60px !important;
}
td a {
    cursor: pointer;
}
td a img{
    cursor: pointer;
    border: 0;
}
.main-igp{
    border: 1px solid #eee;
    box-shadow: 0 0 5px #eee;
    border-top: 0;
    border-bottom: 0;
}
#header .span4 img{
    margin-left: 20px;
}
#header .span2 img{
    margin-left: 10px;
}

.nav_page{
    border: 1px solid #4F4E4E;
    border-left: 0;
    border-right: 0;
    color: #1A1919;
    font-size: 84.5%;
    padding: 7px 0 7px 10px;
    background: rgb(126, 126, 126);
}
.nav_page a {
    color: #A7A2A2;
}
.nav_page a:hover {
    color: #5E5A5A;
}

.txt-back {
    background: url("../img/class_arrows.png") #525151 no-repeat;
    color: #F1EBEB;
    display: inline-block;
    font-size: 0.82em;
    font-weight: bold;
    padding: 15px 10px 15px 35px;
    position: relative;
    max-width: 100%;
    height: 15px;
}
.title-result{
    font-size: 16px;
     padding: 15px 0 15px 0;
}
.overflow {
    overflow: hidden;
}
/*ul.nav li.firts > ul {
    position: absolute;

}*/
ul.nav li.firts  ul.second > li{
    float: left;
    /*margin: 0 5px;*/
    line-height: 0;
}
ul.nav li.firts > ul > li > a{
    display: inline-block;
    outline: medium none;
    padding: 1.5em 1em;
    color: #fff;
}

.active{
    display: block;
}

/* menu desplegable hover*/
.menu a .caret {
    margin-top: 5px;
}
.navbar-inverse .nav > li > a {
    color: #D3D3D3!important;
}
.menu li, #lbl-prod-act .dropdown_column li > a  {
    list-style: none;
    color: #999
}
.menu li.firts ul.second {
    /*background: #333232;    */
    left:-999em;
    position:absolute;
    z-index: 999;
    /*min-width:140px;*/
}
.nav li.firts:hover > ul {
    display:block;
    top:auto;
    left:-1px;
    width:100%;
}
.menu .dropdown_column li > a {
    /*border-bottom: 1px dotted #707070;*/
    color: #EEE8E8;
}
.menu .dropdown_column li > a:hover, #lbl-prod-act .dropdown_column li > a:hover {
    color: #fff;
}
.menu ul.second > li > a {
    position: relative;
}
.menu  ul.second > li .caret{
    bottom: -4px;
    position: absolute;
    left: 50%;
    border-top-color: transparent;
    border-bottom-color: transparent;
    z-index: 9999;
}
.menu  ul.second > li:hover .caret{
    border-top-color: #ffffff;
    border-bottom-color: #ffffff;
}

.dropdown_column
{
    margin: 0px auto 4px;
    float:left;
    position:absolute;
    left:-999em; /* Hides the drop down */
    text-align:left;
    padding:10px 5px 10px 5px;
    border-top:0;
    /* Gradient background */
    /*background:#eeeeee;*/
    /*background: -moz-linear-gradient(top, #EEEEEE, #BBBBBB);*/
    /*background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#EEEEEE), to(#BBBBBB));*/
    /* Rounded Corners */
    -moz-border-radius: 0px 5px 5px 5px;
    -webkit-border-radius: 0px 5px 5px 5px;
    border-radius: 0px 5px 5px 5px;
    width: 600px;
    z-index: 999;
    border: 2px solid #B2B0B0;
    border-top: 0;
    /*box-shadow: 0 0 4px #757373;*/
}


.menu ul.second li:hover .dropdown_column {
    left:-1px;
    top:auto;
}
.menu li:hover .ppr
.ppr li:hover .dropdown_column, li:hover >.ppr{
    left: 46px !important;
}
.menu li:hover >.result{
    /*left: 166px !important;*/
    left: 44% !important;
}
.menu li.firts:hover > a, .menu ul.second li:hover > a {
    /*background-color: #eeeeee;*/
    background: #4E4D4C;
    color: #fff;
    position: relative;
    text-decoration: none;
}
.menu ul.second li:hover ul li > a {
    background: none;
}

tr.title {
    background: #ccc;
    margin-top: 0;
    text-align: center;
}
tr.prog th {
    border: 1px solid #B8B5B5;
    color: #37383A;
    padding: 2px;
    font-size: 0.9em;
}
tr.prog {
    position: relative;
}

tr.prog td {
    border: 1px solid #B8B5B5;
    padding: 2px;
}
table td.num {
    background: none repeat scroll 0 0 #979393;
    border-radius: 7px 0 0 7px;
    color: #FFFFFF;
    line-height: 10px;
    margin-left: -10px;
    margin-top: 0;
    padding: 5px 7px;
    position: absolute;
    width: 14px;
}
.subtitle-1 {
    font-size: 1.5em;
    border-left: 1px solid #B8B5B5;
    border-radius: 8px 8px 0 0;
    border-right: 1px solid #B8B5B5;
    border-top: 1px solid #B8B5B5;
    left: 0;
    padding: 0.26em 1em;
    position: relative;
    width: 100px;
    margin: 0;
    text-align: center;
}
table {
    margin-bottom: 1.4em;
    width: 100%;
}
table, th, td {
    vertical-align: middle;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
.leyenda {
    display: block;
}
.leyenda span{
    display: inline;
    font-size: 75%;
    font-style: italic;
    line-height: 12px;
    border: 1px solid #AFAEAE;
    padding: 1px;
    color: #AFAEAE;
    background: #6D6C6C;
}


/*home*/
span#firts {
    color: #6F4E1A;
    font-size: 2em;
    font-weight: bold;
    line-height: 0;
}
#divmain {
    line-height: 1.6em;
    padding-top: 40px;
}

#ppr_img {
    background: url("../img/ppr-igp.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 110px;
    position: absolute;
    top: 27%;
    width: 235px;
    z-index: 2;
}
#divCommentRight {
    position: relative;
    width: 235px;
    padding: 14em 0 0 9em;
}
/*login*/
#login_home {
    background: none repeat scroll 0 0 #EBE8E8;
    height: auto;
    margin: 0 5px;
    padding: 5px 0;
    position: relative;
    z-index:-1;
}
div#admin {
    float: right;
    position: relative;
}
/*tabs*/
#preview {
    background: none repeat scroll 0 0 #1B1818 !important;
    border-radius: 2px;
    color: #FFFFFF;
    float: right;
    line-height: 17px;
    padding: 3px 2px;
    position: relative;
    right: 3px;
    text-decoration: none;
    top: 5px;
}
thead th {
    background: rgb(201, 157, 88);
    border: 1px solid #fff;
    color: rgb(247, 243, 243);
}
div.divselect, span.divselect {
    display: inline-block;
    border: 1px solid #BD852D;
    border-radius: 4px;
    line-height: 27px;
    padding: 0 6px;
    background: #BD852D;
    color: #fff;
    margin: 0 0 5px 0;
    position: relative;
}
div a.mas {
    background: rgb(172, 121, 42) url(../img/mas_0.png) no-repeat 0px 0;
    border: 1px solid #BD852D;
    border-radius: 2px;
    box-shadow: 0 0 4px #BD852D;
    color: #fff;
    font-size: 1.2em;
    padding: 6px 8px 7px 38px;
    text-decoration: none;
    text-shadow: 0 0 1px #BD852D;
}
.edit, .del {
    background: none;
    border: 0;
    text-decoration: underline;
    text-indent: -9999px;
    width: 15px;
    cursor: pointer;
    margin: 0 5px;
}
.edit {
    background: url(../img/edit.png) no-repeat;
}
.del {
    background: url(../img/delete.png) no-repeat;
}
.menuResult h3, h3.f-main {
    padding: 6px 0;
    color: #BD852D;
    text-shadow: 0 0 1px rgb(134, 96, 35);
    font-size: 1.3em;
}
.nav {
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
}
.dropdown_column li{
    margin: 0.5em 1.3em;
    line-height: 1.7em;
    list-style-type: circle;
}
.igp-inverse .navbar-inner, .contenedor-pie.igp-inverse{
    background-color: #050505;
    background-image: -webkit-gradient(linear,0 0,0 70%,from(#797676),to(#050505));
    background-image: -webkit-linear-gradient(top,#797676 0%,#050505 100%);
    background-image: -o-linear-gradient(top,#797676 0%,#050505 100%);
    background-image: linear-gradient(to bottom,#797676 0%,#050505 100%);
    background-repeat: repeat-x;
    border-color: #797676;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#797676',endColorstr='#050505',GradientType=0);
}
.active {
    background: #4E4D4C;
}
 .div-login-main .input-small {
    height: 30px;
}
.result .r-anexo{
    font-weight: bold;
    margin: 5px 0 2px 10px;
}
.result .r-category{
    color: #BD852D;
}
.result .text{
    text-align: justify;
}
.fleft {
    float: left;
}
.col1  {
    width: 50%
}
.clear{
    clear: both;
}
.leyenda{
    padding: 0 7%;
    font-size: 84%;
    font-style: italic;
}
.dropdown_column .prog_list {
    color: #40B4E3;
    font-size: 1.04em;
    margin-bottom: 1.1em;
}
.dropdown_column .prog_list > span, #lbl-resul .prod_list > span, #lbl-prod-act .prod_list > a {
    font-weight: bold;
}
.prog_list{
    border-bottom: 2px solid rgba(64, 180, 227, 0.67);
}
#lbl-resul .prod_list{
    border-bottom: 2px solid rgba(153, 153, 153, 0.62);
    margin-bottom: 1.1em;
}
/*#lbl-resul .prod_list > span{
    font-size: 1.02em;
}*/
#lbl-resul .border-none{
    border-bottom: 0;
}
.dropdown_column .prod_list  li{
    line-height: 1em;
}
.resultdetails h3{
    font-size: 1.5em;
}
.odd td {
    text-align: left;
    background: #E5E5E5;
    border: 1px solid #fff;
}
#tabsadmin td{
    vertical-align: middle;
}
#tabsadmin tr {
    text-align: left;
}
#tabsadmin table, #tabsadmin tr, #tabsadmin td, #tabsadmin th {
    font-size: 80%;
    font: inherit;
}
#tabsadmin table {
    border-collapse: separate;
}
.divselect label{
    display: inline;
    vertical-align: top
}
select.select{
    width: auto;
}
select.select, span.select{
    border-radius: 3px;
    overflow: hidden;
    height: 34px;
    border: 1px solid #BD852D;
    color: #BD852D;
    -webkit-appearance: none;
    margin-right: -6px;
    padding-right: 27px;
    background: url(../img/down_arrow_select.jpg) no-repeat right #ddd;
    -moz-background-origin:none !important;

}

h2#respTitle, #UMtitle {
    padding: 0 6px;
    background: #BD852D url(../img/mas-menos.png) no-repeat right 8px;
    border: solid 1px rgb(136, 92, 24);
    color: #fff;
    cursor: pointer;
    margin: 0.9em 0 0.45em 0;
}
.f-right {
    float: right;
}

.divnuevo {
    display: block;
    float: right;
    position: relative;
}
div.divselect{
    height: 34px;
}
.tab h2 {
    font-size: 2.1em;
    margin-top: 0.2em;
}
.img-mapas li {
    float: left;
    background: #000;
    position: relative;
    min-height: 138px;
    margin: 0 3px;
    padding: 2px;
    border: solid 1px rgb(209, 208, 208);
    color: #fff;
    width: 140px;
    }
#result_details li {
    list-style-type: circle;
    line-height: 20px;
}
#result_details ul, ol {
    margin: 0 0 10px 25px;
}