@charset "utf-8";
body{text-align:center;}
.cabecera{height:300px; background-image:url(../img/001c.jpg);background-repeat:repeat-x;}
.contenedor-pie {
    background-image: url("../img/007.jpg");
    background-repeat: repeat-x;
    color: #FFFFFF;
    height: 70px;
	text-align: center;
}

a.mostaza {
    color: #BD852D; text-decoration: none;
}

.txt-blanco-30{
	color:#FFFFFF; font-size:30px; font-weight:bold; text-align:left; padding-left:10px;	
}

.txt-blanco-16{
	color:#FFFFFF; font-size:16px; font-weight:bold; text-align:left; padding-left:10px;	
}

.caja-login {
    background-color: #FFFFFF; border: 1px solid #BBBBBB; width: 90px;
}

.banner-left {
	text-align: left; padding-left: 10px;
}

.banner-right {
	text-align: right; padding-right: 10px;
}